.table-styled{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
}
.table-styled thead tr {
    background-color: #393cf6;
    color: white;
    text-align: left;
}
.table-styled th,
.table-styled td {
    padding: 12px 15px;
}

.table-styled tbody tr {
    border-bottom: 1px solid #dddddd;
}
.table-styled tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-styled tbody tr:hover {
    background-color: rgb(83, 255, 80);
    color: white;
}
.table-styled tbody tr:last-of-type {
    border-bottom: 1px solid #393ff6;
}
.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer
}
.btn-edit {
    background-color: #008cba;
}
.btn-delete {
    background-color: #ed0505;
}
.btn-view{
    background-color: #e7e7e7;
    color: black;
}
.dropdown {
    width: 20%;
    margin: 5px;
}
.btn-reset {
    background-color: crimson;
    color: white;

}
.btn-active{
    background-color: green;
    color: white;
}
.btn-inactive{
    background-color: gray;
    color: white;
}
